{% extends 'sidenav.html' %}

<!-- CSS 상속 -->
{% block sectionsCss %}
<!-- introduction.css -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'introduction.css' %}" />
{% endblock%}

<!-- 사이드 바 -->
{% block navBar %}
<div class="page-name"><p>회사소개</p></div>
<a href="/introduction/ceoGreeting" class="section"><p>CEO 인사말</p></a>
<a href="/introduction/vision" class="section"><p>기업이념</p></a>
<a href="/introduction/organization" class="section selected"><p>조직도</p></a>
<a href="/introduction/brochure" class="section"><p>지명원</p></a>
<a href="/introduction/map" class="section"><p>오시는 길</p></a>
{% endblock %}

<!-- 섹션타이틀 -->
{% block sectionTitle %}
<h1 class="section-name">조직도</h1>
<h2 class="section-introduce">준비된 최고의 인력으로 의뢰를 수행합니다.</h2>
<h2 class="section-path">HOME > 회사소개 > 조직도</h2>
{% endblock%}

<!-- Container  -->
{% block sectionContainer %}
<p class="organization-p">
  (주)용마홀딩스는 다양한 관련분야의 업무흐름을 종합적으로 서비스 함으로써
  개발과정에 일관성을 유지하고, 신속하고 정확하게 프로젝트를 진행시킬 수 있는
  맨파워와 시스템을 보유하고 있습니다.
</p>
<div class="career-box row">
  <div class="left-box relative">
    <table>
      <tbody>
        <tr class="first">
          <td class="left">대표이사</td>
          <td class="right">강줄기</td>
        </tr>
        <tr class="second">
          <td class="left">경력</td>
          <td class="right">2016~2019주식회사 프론트맨 대표이사</td>
        </tr>
        <tr>
          <td class="left"></td>
          <td class="right">2020~ 주식회사 용마홀딩스 대표이사</td>
        </tr>
      </tbody>
    </table>
    <div class="shadow1 absolute"></div>
  </div>
  <div class="right-box col">
    <div class="right-box-top relative">
      <table>
        <tbody>
          <tr class="first">
            <td class="left">부사장</td>
            <td class="right">김윤혜</td>
          </tr>
          <tr class="second">
            <td class="left">학력</td>
            <td class="right">경북외국어고등학교 영어과 (2001 졸업)</td>
          </tr>
          <tr>
            <td class="left"></td>
            <td class="right">연세대학교 행정학과 (2007 졸업)</td>
          </tr>
          <tr>
            <td class="left"></td>
            <td class="right">건국대학교 교육대학원 교육학과 (2013 졸업)</td>
          </tr>
          <tr>
            <td class="left"></td>
            <td class="right">건국대학교 경영전문대학원 (2017 졸업)</td>
          </tr>
        </tbody>
      </table>
      <div class="shadow2 absolute"></div>
    </div>
  </div>
</div>
<img
  src="https://postfiles.pstatic.net/MjAyMTA1MTJfMjM3/MDAxNjIwNzYwNDYzMjIy.PvGku50SSGJnbhDdlx7ITeVa-QIuB-LDv_m5YoT7nJgg.QSNhdPQvMzbnLtPAAkI2TVV22iUKf5pO0Axs1lKYLU4g.PNG.tojay24/organization.png?type=w966"
  style="width: 100%"
/>

{% endblock %}
