#top-picture {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("src/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 700px;
  color: white;
  margin-bottom: 60px;
}

#top-picture > h1 {
  width: 1180px;
  font-size: 50px;
}
#top-picture > h2 {
  width: 1180px;
  font-size: 30px;
  font-weight: lighter;
}
#little-box {
  width: 1180px;
}

#little-box > div {
  width: 42px;
  height: 9px;
  background-color: white;
}

#bottom {
  width: 100%;
  align-items: center;
}

.posts {
  width: 1180px;
  margin-bottom: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  padding: 22px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.posts-box {
  width: 48%;
  height: 280px;
}

.posts-box-top {
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}

.posts-box-top > .category {
  border: 3px;
  border-style: solid;
  width: 144px;
  height: 44px;
  border-color: #296bb1 #296bb1 white #296bb1;
  justify-content: center;
  align-items: center;
  top: -44px;
}

.posts-box-top > .plus {
  width: 410px;
  height: 44px;
  border: 3px;
  border-style: solid;
  border-color: white white #296bb1 white;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
}

.posts-box-top > .plus > a {
  font-size: 30px;
}
.posts-box-top > .category > p {
  font-weight: bold;
  font-size: 20px;
  color: #434343;
  text-align: center;
}

.posts-box-bottom {
  width: 100%;
}
.posts-box-bottom > tbody {
  width: 100%;
}
.a-post:last-child {
  border-color: white;
}
.a-post {
  width: 100%;
  height: 45px;
  padding: 0px 10px;
  box-sizing: border-box;
  border-style: none none solid none;
  border-width: 0.1px;
  border-color: #dadada;
}
.a-post:hover {
  background-color: #eeeeee;
  font-weight: bold;
}
.a-post > div {
  padding: 15px 0px;
  margin: 0px;
}

.a-post-title {
  width: 70%;
}
.a-post-created-at {
  width: 30%;
  text-align: right;
}
.quick-menus {
  width: 1180px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.quick-menus > a {
  width: 19%;
  text-decoration: none;
}
.quick-menu {
  width: 100%;
  height: 220px;
  justify-content: center;
  align-items: center;
}

.quick-menu > p {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
.quick-menu-plus {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  font-size: 30px;
  width: 40px;
  height: 40px;
  right: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
}
#first.quick-menu {
  background-color: #0a49cf;
}
#second.quick-menu {
  background-color: #006ab7;
}
#third.quick-menu {
  background-color: #0ab0cf;
}
#fourth.quick-menu {
  background-color: #0ac4ae;
}
#fifth.quick-menu {
  background-color: #bebebe;
}

@media screen and (max-width: 1000px) {
  #index-page {
    width: 100%;
  }

  #top-picture {
    height: 300px;
    padding-left: 15%;
    margin-bottom: 20px;
  }

  #top-picture > h1 {
    font-size: 20px;
    width: 100%;
  }
  #top-picture > h2 {
    width: 100%;
    font-size: 14px;
  }

  #little-box {
    width: 100%;
  }

  #little-box > div {
    width: 10px;
    height: 2px;
    background-color: white;
  }

  .posts {
    width: 100%;
    padding: 20px;
    border-style: none;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .posts-box {
    width: 100%;
    height: 150px;
  }

  .quick-menus {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 50px;
  }
  .quick-menus > a {
    width: 19%;

    margin-bottom: 20px;
  }

  .quick-menu {
    height: 100px;
  }

  .quick-menu > p {
    font-size: 0.8rem;
  }

  .quick-menu-plus {
    display: none;
  }

  .posts-box-top > .category {
    width: 30%;
    min-width: 100px;
    height: 30px;
  }

  .posts-box-top > .plus {
    width: 70%;
  }

  .posts-box-top > .category > p {
    font-size: 15px;
  }
  .a-post-title > a,
  .a-post-created-at {
    font-size: 12px;
  }
  .a-post-created-at {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .a-post-title {
    padding: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .a-post {
    height: 40px;
  }
}
