{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
{% endblock%} {% block container %}
<div id="index-page">
  <div id="top-picture" class="col">
    <h1 class="tracking-in-expand">
      귀사에 가치를 더하는<br />최고의 파트너가 되겠습니다.
    </h1>
    <div id="little-box">
      <div></div>
    </div>
    <h2 class="tracking-in-expand">
      신뢰와 믿음을 바탕으로 고객에게<br />성공으로 보답하는 용마홀딩스입니다.
    </h2>
  </div>
  <div id="bottom" class="col">
    <div class="posts row">
      <div class="posts-box">
        <div class="posts-box-top row">
          <div class="category col"><p>뉴스룸</p></div>
          <div class="plus col"><a href="community/newsRoom">+</a></div>
        </div>
        <div class="posts-box-bottom col">
          {% for new in news %}
          <div class="a-post row">
            <div class="a-post-title">
              <a href="community/newsRoom/{{new.pk}}">{{new.title}}</a>
            </div>
            <div class="a-post-created-at">{{new.created_at.date}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="posts-box">
        <div class="posts-box-top row">
          <div class="category col"><p>보도자료</p></div>
          <div class="plus col"><a href="community/press">+</a></div>
        </div>
        <div class="posts-box-bottom col">
          {% for press in presss %}
          <div class="a-post row">
            <div class="a-post-title">
              <a href="{{press.link}}">{{press.title}}</a>
            </div>
            <div class="a-post-created-at">{{press.created_at.date}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="quick-menus row">
      <a href="introduction/ceoGreeting/" class="relative">
        <div class="quick-menu-plus absolute row">
          <p>+</p>
        </div>
        <div id="first" class="quick-menu row">
          <p>회사소개</p>
        </div>
      </a>
      <a href="https://www.naver.com" class="relative">
        <div class="quick-menu-plus absolute row">
          <p>+</p>
        </div>
        <div id="second" class="quick-menu row">
          <p>사업분야</p>
        </div>
      </a>
      <a href="https://www.naver.com" class="relative">
        <div class="quick-menu-plus absolute row">
          <p>+</p>
        </div>
        <div id="third" class="quick-menu row">
          <p>사업실적</p>
        </div>
      </a>
      <a href="https://www.naver.com" class="relative">
        <div class="quick-menu-plus absolute row">
          <p>+</p>
        </div>
        <div id="fourth" class="quick-menu row">
          <p>커뮤니티</p>
        </div>
      </a>
      <a href="https://www.naver.com" class="relative">
        <div class="quick-menu-plus absolute row">
          <p>+</p>
        </div>
        <div id="fifth" class="quick-menu row">
          <p>채용안내</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
