{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sidenav.css' %}" />
{% endblock%} {% block sectionsCss %}
<!-- 자식 템플릿 상속 -->
{% endblock %} {% block container %}
<div id="side-nav col">
  <div class="top-picture"></div>
  <div class="page-container row">
    <div class="nav-bar-div relative">
      <div class="nav-bar absolute col">
        {% block navBar %}
        <!-- 사이드 바 내용 -->
        {% endblock %}
      </div>
    </div>

    <div class="section-content">
      <div class="title col">
        {% block sectionTitle %}
        <!-- 섹션 타이틀 -->
        {% endblock %}
      </div>
      <div class="section-container">
        {% block sectionContainer %}
        <!-- containers -->
        {% endblock sectionContainer %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
